<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/home.css">


<div id="home">
    <section id="home-profile">
        <div id="left-aside-wrapper">
            <aside id="left-aside">
                <div id="profile-card">
                    <div id="background"></div>
                    <div id="profile-info">
                        <img
                            src="/images/me.jpg"
                            alt="Profile picture"
                        />
                        <strong id="profile-name">
                            <%= user.name%>
                        </strong
                        >
                        <small>Full Stack Developer</small>
                    </div>
                </div>
                
            </aside>
        </div>
        
    </section>

    <section id="feed-posts">
        <div id="main-wrapper">
            <main id="main-section">
                <div class="card gedf-card">
                
                    <form action="/posts/create" id="new-post-form" method="POST">
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                    <div class="form-group">
                                        <textarea name="content" class="form-control" id="message" rows="3" placeholder="What are you thinking?" required></textarea>
                                    </div>
    
                                </div>
                            </div>
                            <div class="btn-toolbar justify-content-between">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary" style="background-color: #0091ca;">Share</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div id="feed-sort">
                    <hr />
                    <button>
                        <!-- <span>Sort by:</span> -->
                        <span>Feed</span>
                        <span class="fas fa-sort-down"></span>
                    </button>
                </div>

                <div id="posts-list-container">
                 
                        <% for(post of posts){ %>

                            <%- include('_post') -%>
                            
                        <% } %>
                    
                </div>
               
            </main>
        </div>

    </section>

    <section id="right-side">

        <div id="all-users">
            <h5> User List</h5>
           
            <% for(u of all_users){ %>
            <p><a href="users/profile/<%= u.id%>"><%= u.name %></a></p>
            <% } %>
        </div>

        <div id="chatbox">
            <%- include('_chat_box') -%>
        </div>
        

    </section>
</div>

<!-- importing this script for creating the comments -->
<script src="/js/home_post_comments.js" ></script>
<script src="/js/home_posts.js"></script>

<!-- import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>


