<link rel="stylesheet" href="/css/user_profile.css">

<div>
    <% if(user.id == profile_user.id){ %>
        <form action="/users/update/<%= profile_user.id%>" method="POST">
            <input type="text" name="name" required value="<%= profile_user.name%>">
            <input type="email" name="email" required value="<%= profile_user.email%>">
            <input type="submit" value="Update">
        </form>
    <% }else{ %>
        <h1>This is my profile!</h1>
        <p><%= profile_user.name%></p>
        <p><%= profile_user.email%></p>
    <% } %>

</div>
